commands:
  command block:
    command: |
      sudo amazon-linux-extras enable libreoffice
      sudo yum -y install libreoffice-core libreoffice-calc libreoffice-opensymbol-fonts libreoffice-ure libreoffice-writer libreoffice-pyuno libreoffice-impress
      sudo -i
      sudo yum install git -y
      sudo git clone --recursive git://git.ghostscript.com/mupdf.git
      cd mupdf/
      sudo git submodule update --init
      sudo yum -y install libX* pam_radius libGL-devel freeglut freeglut-devel 
      sudo yum -y groupinstall 'Development Tools'
      sudo make prefix=/usr/local install
      export PATH=/usr/local/bin/:$PATH 
      sudo yum -y install poppler-utils
      sudo yum -y install libwebp-tools
      sudo yum -y install ghostscript