files:
    "/etc/php.d/z99uploadsize.ini":
        mode: "000644"
        owner: root
        group: root
        content: |
            upload_max_filesize = 100M
            post_max_size = 128M
            max_execution_time = 3600
            max_file_uploads = 50
commands:
    remove_old_ini:
        command: "rm -f /etc/php.d/z99uploadsize.ini.bak"

